{% extends 'mainapp/account_base.html' %}

{% block 'body' %}
    {% for el in music %}
            <div >
                <a href="/account/{{id}}/play/{{el.id}}">
                    <div class="music_box">

                            <td><img src="{{ el.cover.url }}"></td>

                            <td>{{ el.title }}</td>
                            <div class="margin">
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{el.id}}" name="music" >

                                    <input type="submit" value="+" id="pad_But">

                                </form>
                            </div>
                    </div>

                </a>
            </div>


    {% endfor %}
{% endblock %}